img{
  width: 450px;
  height: 320px;
}
.img-container {
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  display: inline-flex;

  padding: 5px;
  filter: grayscale(100%);
  transition: 0.1s linear;
}

.img-container:hover {
  transform: scale(1.03);
  filter: grayscale(0);
}
