<div *ngFor="let picture of this.picturesService.picturesArray" class="img-container">
  <img [routerLink]="['/image', picture]"
       src="{{picture}}"
       alt="small picture"
       class="small-picture">
</div>
<!--<div *ngFor="let bigPicture of this.picturesService.picturesArray; let i = index" class="img-light-box" >-->
<!--  <div class="img-light-box__content">-->
<!--    <div class="close"></div>-->
<!--    <img src="{{bigPicture}}" alt="big-picture">-->
<!--    <p>{{i}}</p>-->
<!--  </div>-->
<!--</div>-->
