img {
  max-width: 75vw;
  max-height: 75vh;
}

.img-light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3) no-repeat center;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-light-box:target {
  display: flex;
}

.img-light-box__content {
  background: black;
  padding: 3em;
  position: relative;
  display: flex;
}

// css buttons style

.css-button {
  background-color: #bfbfbf;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #9e9e9e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 22px;
  text-decoration: none;
  text-shadow: 0 1px 0 #696969;
}

.css-button:hover {
  background-color: #bdbdbd;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  color: #bb0b07;
}

.left-arrow {
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #0abb1a;
}

.right-arrow {
  position: absolute;
  // right: 0;
  //  align-items;
  bottom: 0;
  color: #0abb1a;
}

div:active, div:focus {
  outline: none;
}

div::-moz-focus-inner {
  border: 0;
}
