.img-item{
  // box-shadow: #555 1px 2px 8px 1px;
  min-width: 100vw;
  min-height: 45vw;
  background-position: center;
  background-repeat: no-repeat;
}
div:active, div:focus {
  outline: none;
}
div::-moz-focus-inner {
  border: 0;
}
