  <label>
    Enter an URL:
    <input type="url"
           name="url"
           id="url"
           placeholder="example.com/1.jpg"
           #urlPicture>
  </label>
  <br>
<!--  <input type="file" id="filePicker" (change)="handleFileSelect($event)">-->
  <button class="myButton" (click)="add(urlPicture.value)">add</button>
  <span style="color:red;" *ngIf="message">{{message}}</span>
  <input #file type="file" accept='image/*' (change)="preview(file.files)" />
  <img [src]="imgURL" height="200" *ngIf="imgURL" alt="img">

