    <label>
      Enter image URL:
      <input type="url" [formControl]="name" (change)="setPreviewUrl(name.value)">
    </label>
    <br>
    <label>
      Upload image:
      <input type="file" [formControl]="name" (change)="handleFileSelect($event)">
    </label>
    <br>
    <img src="{{imgURL}}" height="250" *ngIf="imgURL" alt="img">
    <br>
    <button type="submit" class="myButton" (click)="add(imgURL)">add</button>

<!--      <input type="url"-->
<!--             name="url"-->
<!--             id="url"-->
<!--             placeholder="example.com/1.jpg"-->
<!--             #urlPicture>-->
<!--    <button type="submit" class="myButton" (click)="add(#urlPicture.value)">add</button>-->


